.hamburger{
    position: fixed;
    display: inline-flex;
    top: 2rem;
    left: 2rem;
    padding: 1rem;
    color: inherit;
    cursor: pointer;
    z-index: 999999;
}
.sidebar{
    height: 100vh;
    width: 15rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    z-index: 999999;
    overflow:hidden;
    transition: all .3s ease;
}
.profile{
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    line-height: 1;
    & h2{
        width: 100%;
        display: flex;
        
        gap: .5rem;
    }
}
.userIcon{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: normal;
    border-radius: .5rem;
}
.close{
    display: inline-flex;
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
}
.links{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
    overflow: hidden scroll;
    border: 1px solid rgb(230 230 230 /0.5);
}
.link{
    padding: .5rem;
    text-decoration: none;
    color: var(--sub-text-color);
    display: flex;
    gap: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    &:hover{background-color: rgb(255 255 255 /0.15);}
}
.links::-webkit-scrollbar-track
{
	border-radius: .5rem;
	background-color: var(--scrollbar-background);
}

.links::-webkit-scrollbar
{
	width: .5rem; 
	background-color: transparent;
}

.links::-webkit-scrollbar-thumb
{
	border-radius: .5rem;
	background-color: var(--scrollbar-color);
    &:hover{background-color: var(--scrollbar-color-hover)}
}
.settings{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}

@media (width < 750px){
    .hamburger{
        top: .5rem; 
        left: 1rem;
        padding: .5rem;
    }
}