:root{
    --btn-sunset:linear-gradient(to left, #ef4444,#f97316);
    --btn-purple:linear-gradient(to left, #a855f7 ,#ec4899);
    --btn-forest-green:linear-gradient(to left, #22c55e,#14b8a6);
    --btn-ocean-blue:linear-gradient(to left, #3b82f6,#06b6d4);
    --btn-blue-ocean:linear-gradient(to right, #3b82f6,#06b6d4);
}

.btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: .75rem 1.25rem;
    color: inherit;
    background: var(--bg-color);
    font-size: 1rem;
    white-space: nowrap;
    border: transparent;
    border-radius: .375rem;
}
.btn:hover::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .2);
    border-radius: .375rem;
}