.board{
    padding: 2rem;
    margin-bottom: 1rem;
}
.title{
    display: flex;
    align-items: center;
    gap: 1rem;
    & svg{color:#22d3ee;}
}
@media (width < 750px){
    .board{padding: 1rem;}
    .title h1{font-size: 1rem;}
}