*::before,*,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*default font and fallback fonts*/
  --primary-font: ui-sans-serif, system-ui, sans-serif;
  --text-color:white;
  --sub-text-color: rgb(255 255 255 / 0.8);
  --small-text-color:rgb(255 255 255 / 0.6);
  --percent-color:#FCA5A5;
  --percent-bgcolor:rgb(248 113 133 / 0.2);
  --progress-value:black;
  --progress-background:white;
}
/*themes*/
[user-theme='purple']{--background: linear-gradient(to right bottom, #6366f1, #a855f7,#ec4899);}
[user-theme='ocean-blue']{--background: linear-gradient(to right bottom, #3b82f6 , #06b6d4 ,#14b8a6);}
[user-theme='forest-green']{--background: linear-gradient(to right bottom, #22c55e , #10b981 ,#14b8a6);}
[user-theme='sunset']{--background: linear-gradient(to right bottom, #f97316 , #ef4444 ,#ec4899);}
[user-theme='rose']{--background: linear-gradient(to right bottom, #ec4899 , #f43f5e ,#ef4444);}
[user-theme='dark']{--background: linear-gradient(to right bottom, #1f2937 , #111827 ,#000);}
body{
  font-family: var(--primary-font);
  background: var(--background);
  color: var(--text-color);
}
p{color: var(--sub-text-color);}
.glass-card{
    --glass-color: 255 255 255;
    border-radius: 1rem;
    background: rgb(var(--glass-color) / 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(var(--glass-color) / 0.2);
}