.menu{
    display: inline-flex;
    flex-wrap: wrap;
    
    margin: 1rem 0;
    padding: .5rem;
    border-radius: .3rem;
    list-style: none;
}
.item{
    padding: .5rem;
    color: var(--sub-text-color);
    cursor: pointer;
    border-radius: .1rem;
    user-select: none;
    transition: all .2s;
    border: 1px transparent;
}
.active{color: inherit;}