.list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: 2rem 0;
}
@media (width < 1000px) {
    .list{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
}
