:root{
    --card-blue:linear-gradient(to right bottom, #60a5fa, #2563eb);
    --card-purple:linear-gradient(to right bottom, #c084fc, #9333ea);
    --card-red:linear-gradient(to right bottom, #f87171, #dc2626);
    --card-rose:linear-gradient(to right bottom, #f472b6, #db2777);
    --card-green:linear-gradient(to right bottom, #4ade80, #16a34a); 
}

.link{
    display: block;
    padding: 1rem;
    text-decoration: none;
}
.icon{
    display: inline-flex;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
}